# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environments
.env
.venv
venv/
myenv/
env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
